
#aa{
    position: relative;
    margin-top: 0px;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
   
}
.ds {
    border: 1px solid #c5c1c1; 
    padding: 35px;
    margin-left: 10px;
    margin-top: 15px;
    height: 540px;
    width: 600px;
    border-radius: 10px;
  }


  .input-container i {
    cursor: pointer;
    margin-left: 10px;
  }
  #f{
    border-radius: 10px;
    border: 1px solid #c5c1c1;
    position: absolute;
    margin-top: 25px;
    margin-left: 120px;
    width: 350px;
    align-items: center;
  }
