#preloader {
    position: fixed;
    top:  90px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #f1f2f3;
  }
  #AAB{
    position: relative;
    margin-left: 40PX;
  }
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #37517e;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 2s linear infinite;
    transition: 1s;
  }
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  #idu {
    transition: transform 0.3s;
    color: #d1d1d1;
  }
  
  #idu:hover {
    transform: scale(3.8);
    color: rgb(0, 110, 255);

  }
  .custom-popup-class {
    width: 100px; 
    height: 150px;
    font-size: 14px;
  }
 #sss{
  width: 70px;
 }
 #sse{
  width: 60px;
 }
  #x{
    position: relative;
    margin-top: 2px;
  }
  #xy{
    position: relative;
    margin-top: 2px;
    margin-left: 35px;
  }
  #xyz{
    position: relative;
    margin-top: 2px;
    margin-left: 20px;
  }
  #xyzd{
    position: relative;
    margin-top: 2px;
    margin-left: 22px;
  }
  #df{
    width: 100px;
    height: 120px;
  }
 /* .popup-container{
  position: fixed;

  margin-top: 100px;
 } */
#main{
    margin-top: 10px;
    margin-left: 320px;
}
.profile-nav, .profile-info{
    margin-top:30px;   
}
#n{
    color: rgb(0, 110, 255);
}
#nu{
  font-weight: bold;
    color:  #2A52BE;
}
#num{
  color:   #0066B2;
}

#book-name1{
  color: rgb(0, 110, 255);
}
.form-group{
  margin-left: 90px;
}
.popup-container{
  border-radius: 10px;
  margin-left: 70px;
  margin-right: 20px;
  border:0.5px solid gray;
  position: absolute;
  z-index: 999;
  width: 650px;
  backdrop-filter: blur(5px); 
  background-color: rgba(255, 255, 255, 0.8); 
}
#d{
  color: rgb(21, 93, 226);
}
#du{
  color: rgb(5, 150, 24);
}
#ddk{
  border:0.5px solid gray;
  border-radius: 15px;
  width: 450px;
  margin-left: 100px;
  margin-right: 50px;
  margin-bottom: 20px;
}
#ic{
  color: #1F456E;
  margin-right: 20px;
  width: 30px;
}
#book-name2{
font-weight: bold;
  color:  #2A52BE;
}
#book-name3{
color:   #0066B2;
}
#sd{
  margin-left: 90px;
}
#ur{
    color: rgb(0, 110, 255);
}


.profile-nav .user-heading {
    background: #2ddcfb;
    color: #fff;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    padding: 30px;
    text-align: center;
}
.panel{
    position: relative;
    margin-top: 110px;
}

.profile-nav .user-heading.round a  {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 10px solid rgba(255,255,255,0.3);
    display: inline-block;
}
#q{
    margin-top: 15px;
    margin-left: 25px;
}
form{
    margin-left: 300px;
    width: 700px;
}
#s{
    margin-left: 300px;
}
#bg{
    position: absolute;
    margin-top: 10px;
    margin-left: 940px;
}
.container {
  display: grid;
  grid-template-columns: 100% 0%;
  width: 36%;

  button {
    background: transparent;
    border: 0;
    transform: translateX(-40px);
    cursor: pointer;
    &:focus {
      outline: 0;
    }
  }
}
#nnb{
  position: relative;
  margin-top: 100px;
  margin-left: 900px;
  color: #1F456E;
  width: 240px;
  margin-bottom: 0px;
}
.emoji-mart{
  position: absolute;
  z-index: 10;
  margin-top: 30px;
  margin-left: 30px;
}
#kk{
  position: relative;
  margin-top: 35px;
}
#ku{
  position: relative;
  margin-left: 0.5px;
}
.juju{
  position: absolute;
  font-size: 15px;
  margin-top: 40px;
  margin-left: 66px;
}
.dsd{
  color: green;
}