<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>

<app-header></app-header>

<div id="preloader"  *ngIf="showPreloader"></div>

<div id="main" class="card" style="width: 48rem">
  <div class="border border-left border-right px-0">
    <div class="p-3 border-bottom">
        
      <h4 class="d-flex align-items-center mb-0">
        Feed 
      </h4>
    </div>
    <div>
      <div class="card shadow-0">
        <div class="card-body border-bottom pb-2">
            
          <div class="d-flex">
            <img
              src="../../../assets/{{user?.image}}"
              class="rounded-circle "
              id="sss"
              height="50"
              alt="Avatar"
              loading="lazy"
            />
            <div class="d-flex align-items-center w-100 ps-3">
              <div class="w-100">
                
                <input
                  type="text"
                  id="form143"
                  class="form-control form-status border-0 py-1 px-0"
                  placeholder="Write about a book that you have.."
                  [(ngModel)]="details"
                />
                <div *ngIf="show">
                    <input type="text" class="form-control mt-3" placeholder="Enter the name of the book" [(ngModel)]="bookname" name="bookname" />
                    <input type="text" class="form-control mt-3" placeholder="Enter the name of the author"[(ngModel)]="author" name="author" />
                    <input
                    type="text"
                    id="form143"
                    class="form-control form-status border-0 py-1 px-0 mt-3"
                    placeholder="Write more about your book such as your experience, review etc"
                    [(ngModel)]="bookdetails"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <ul
              class="list-unstyled d-flex flex-row ps-3 pt-3"
              style="margin-left: 50px"
            >
            <li>
                <label for="imageUpload">
                  <input type="file" id="imageUpload" style="display: none" [(ngModel)]="image"/>
                  <i id="ur" class="bi bi-image-fill"></i>
                </label>
              </li>
              <li>
                <a href=""><i class="bi bi-camera-fill px-2"></i></a>
              </li>
              <li>
                <a href=""><i class="bi bi-emoji-smile-fill "></i></a>
              </li>
              <li>
                <a href=""><i class="bi bi-calendar-check-fill px-2"></i></a>
              </li>
            </ul>
            <div class="d-flex align-items-center">
              <button type="submit" class="btn btn-primary btn-rounded" (click)="onsubmit()">
                Post
              </button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <ng-container *ngFor="let item of postsn.reverse()">
          <div class="d-flex p-3 border-bottom" *ngIf="(searchText$ | async) === '' || item.bookname.toLowerCase().includes((searchText$ | async)?.toLowerCase()) || item.author.toLowerCase().includes((searchText$ | async)?.toLowerCase()) "
          >
            <img
            src="../../../assets/{{item?.userimage}}"
            class="rounded-circle"
            height="50"
            id="sse"
            alt="Avatar"
            loading="lazy"
          />
          <div class="d-flex w-100 ps-3">
            <div>
             
                <h6 class="text-body">
                 {{item.username}}
                  <span class="small text-muted font-weight-normal"
                    >{{item.useremail}}</span
                  >
                  <span class="small text-muted font-weight-normal"> • </span>
                  <span class="small  font-weight-normal">{{getTime(item.time)}}</span>
                  <!-- <span><i class="fas fa-angle-down float-end"></i></span> -->
                </h6>
              <p style="line-height: 1.2">
                {{item.postdetails}}
              </p>
              <div class="card border mb-3 shadow-0" style="max-width: 540px">
                <div class="row g-0">
                  <div class="col-md-3">
                    <img
                      src="../../../assets/{{item?.image}}"
                      alt="Avatar"
               
                      class="img-fluid rounded-left mt-4"
                    />
                  </div>
                  <div class="col-md-9">
                    <div class="card-body">
                      <p class="card-text" style="line-height: 1">
                        About the Book 
                      </p>
                      <h5 id="n">{{item.bookname}}</h5>
                      <h6 id="nu">{{item.author}}</h6>
                      <p class="card-text small mb-0" style="line-height: 1.2">
                        {{item.bookdetails}}
                      </p>
                      
                    </div>
                  </div>
                </div>
              </div>
              <ul
                class="list-unstyled d-flex justify-content-start mb-0 ms-2 pe-xl-5"
              >
                <li>
                    <i id="idu" class="bi bi-hand-thumbs-up-fill" [ngStyle]="{'color': item.like>=1? 'rgb(0, 110, 255)': '#d1d1d1'}" (click)="like(item._id)"></i>
                    <span class="small ps-2">{{item.like}}</span>
                    <div>
                      <p id="x">Like</p>

                    </div>
                </li>
                <li>
                  <i class="bi bi-heart-fill ms-5" [ngStyle]="{'color': m.includes(item._id)?'red':'#d1d1d1'}" (click)="wishlist(item._id)"></i>
                   
                    <div>
                      <p id="xy">Wishlist</p>

                    </div>
                </li>
                <li>
                    <i class="bi bi-chat-dots ms-4 "></i>
                    <div>
                      <p id="xyz">Chat</p>

                    </div>
                </li>
               
                
              </ul>
            </div>
          </div>
        </div>

        </ng-container>

      </div>
    </div>
  </div>
</div>
