<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>

<app-header></app-header>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div id="nnb">
  <input type="checkbox" [(ngModel)]="ischecked" />
  <label id="ku" class=" fw-bold ms-2">Interested Categories</label>
  </div>
<!-- <div id="preloader" *ngIf="showPreloader"></div> -->


<div id="main" class="card" style="width: 48rem">
  <div class="border border-left border-right px-0">
    <div class="p-3 border-bottom">
      <h4 class="d-flex align-items-center mb-0">Feed</h4>
    </div>
    <div>
      <div class="card shadow-0">
        <div class="card-body border-bottom pb-2">
          <div class="d-flex">
            <img
              src="../../../assets/{{ user?.image }}"
              class="rounded-circle"
              height="50"
              alt="Avatar"
              loading="lazy"
            />
            <div class="d-flex align-items-center w-100 ps-3">
              <div class="w-100">
                <input
                  type="text"
                  #myInput
                  id="form143"
                  class="form-control form-status border-0 py-1 px-0"
                  placeholder="Write about a book that you have.."
                  [(ngModel)]="details"
                  name="details"
                  (focus)="onInputFocus(myInput.name)"
                  required
                />
                <div *ngIf="show">
                  <input
                    type="text"
                    class="form-control mt-3"
                    placeholder="Enter the name of the book"
                    [(ngModel)]="bookname"
                    name="bookname"
                    required
                  />
                  <input
                    type="text"
                    class="form-control mt-3"
                    placeholder="Enter the name of the author"
                    [(ngModel)]="author"
                    name="author"
                    required
                  />
                  <input
                    type="text"
                    class="form-control mt-3"
                    placeholder="Enter the category of the book"
                    [(ngModel)]="bookcategory"
                    name="bookcategory"
                    required
                  />
                  <input
                    type="text"
                    #myInputn
                    id="form143"
                    class="form-control form-status border-0 py-1 px-0 mt-3"
                    placeholder="Write more about your book such as your experience, review etc"
                    [(ngModel)]="bookdetails"
                    name="bookdetails"
                    (focus)="onInputFocus(myInputn.name)"
                    required
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <ul
              class="list-unstyled d-flex flex-row ps-3 pt-3"
              style="margin-left: 50px"
            >
              <li>
                <label for="imageUpload">
                  <input
                  #imageUpload
                    type="file"
                    id="imageUpload"
                    style="display: none"
                    [(ngModel)]="image"
                    (change)="onFileChange($event)"
                    accept=".jpg, .jpeg, .png "
                  />
                  <i id="ur" class="bi bi-image-fill"></i>
                </label>
              </li>
              <li>
                <a
                  ><i
                    id="ur"
                    (click)="isEmojiPickerVisible = !isEmojiPickerVisible"
                    class="ms-3 bi bi-emoji-smile-fill"
                  ></i
                ></a>
              </li>
              <br /><emoji-mart
                class="emoji-mart"
                *ngIf="isEmojiPickerVisible"
                (emojiSelect)="addEmoji($event)"
                title="Choose your emoji"
              ></emoji-mart>
              <li>
                <a
                  ><i id="ur" class="bi bi-calendar-check-fill px-2 ms-2"></i
                ></a>
              </li>

            </ul>
            <p class="juju"  *ngIf="fileshow">Selected Image: <span class="dsd">{{fileName}}</span></p>

            <div class="d-flex align-items-center">
              <button
                type="submit"
                class="btn btn-primary btn-rounded"
                (click)="onsubmit()"
              >
                Post
              </button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div *ngFor="let item of postsn.reverse()">
          <ng-container *ngIf="check(item.bookcategory)">
          <div
            class="d-flex p-3 border-bottom"
            id="mur"
            *ngIf="
              (searchText$ | async) === '' || item.bookname.toLowerCase().includes((searchText$|async)) ||  item.author.toLowerCase().includes((searchText$|async))
            "
          >
            <img
              src="../../../assets/{{ item?.userimage }}"
              class="rounded-circle"
              height="50"
              id="sse"
              alt="Avatar"
              loading="lazy"
            />
            <div class="d-flex w-100 ps-3">
              <div>
                <h6 class="text-body">
                  {{ item.username }}
                  <span class="small text-muted font-weight-normal">{{
                    item.useremail
                  }}</span>
                  <span class="small text-muted font-weight-normal"> • </span>
                  <span class="small font-weight-normal">{{
                    getTime(item.time)
                  }}</span>
                  <span class="float-end" [ngStyle]="{color: item.status==='Available' ?'green':'red'}">{{item.status}}</span>
                  <!-- <span><i class="fas fa-angle-down float-end"></i></span> -->
                </h6>
                <p style="line-height: 1.2">
                  {{ item.postdetails }}
                </p>
                <div class="card border mb-3 shadow-0" style="max-width: 540px">
                  <div class="row g-0">
                    <div class="col-md-3">
                      <img
                        src="../../../assets/{{ item?.image }}"
                        alt="Avatar"
                        class="img-fluid rounded-left "
                        id="kk"
                      />
                    </div>
                    <div class="col-md-9">
                      <div class="card-body">
                        <p class="card-text" style="line-height: 1">
                          About the Book
                        </p>
                        <h5 id="n">{{ item.bookname }}</h5>
                        <h6 id="nu">{{ item.author }}</h6>
                        <h6 id="num">{{ item.bookcategory}}</h6>
                        <p
                          class="card-text small mb-0"
                          style="line-height: 1.2"
                        >
                          {{ item.bookdetails }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <ul
                  class="list-unstyled d-flex justify-content-start mb-0 ms-2 pe-xl-5"
                >
                  <li>
                    <i
                      id="idu"
                      class="bi bi-hand-thumbs-up-fill"
                      [ngStyle]="{
                        color: item.like >= 1 ? 'rgb(0, 110, 255)' : '#d1d1d1'
                      }"
                      (click)="like(item._id)"
                    ></i>
                    <span class="small ps-2">{{ item.like }}</span>
                    <div>
                      <p id="x">Like</p>
                    </div>
                  </li>
                  <li>
                    <i
                      class="bi bi-heart-fill ms-5"
                      [ngStyle]="{
                        color: m.includes(item._id) ? 'red' : '#d1d1d1'
                      }"
                      (click)="wishlist(item._id)"
                    ></i>

                    <div>
                      <p id="xy">Wishlist</p>
                    </div>
                  </li>
                  <li [routerLink]="['/login/chat', getid(item.username)]" *ngIf="item.user_id != user._id">
                    <i class="bi bi-chat-dots ms-4"></i>
                    <div>
                      <p id="xyz">Chat</p>
                    </div>
                  </li>
                  <ng-container *ngIf="item.user_id != user._id ">
                  <ng-container *ngIf="item.status=='Available'">
                  <li (click)="toggleBookPopup(item)"  *ngIf="!boo.includes(item.bookname)" >
                    <i class="bi ms-4 bi-journal-check"></i>
                    <div>
                      <p id="xyzd">Book</p>
                    </div>
                  </li>
                </ng-container>
                </ng-container>
                <ng-container *ngIf="item.user_id != user._id">
                  <li  *ngIf="boo.includes(item.bookname) && notaccepted.includes(item.bookname)">
                    <i id="d" class="ms-4 bi bi-bookmark-check-fill"></i>
                    <div>
                      <p id="xyzd">Requested</p>
                    </div>
                  </li>
                  <li  *ngIf="accepted.includes(item.bookname)">
                    <i id="du" class="ms-4 bi bi-bookmark-check-fill"></i>
                    <div>
                      <p id="xyzd">Accepted</p>
                    </div>
                  </li>
                </ng-container>
                </ul>
              </div>
            </div>
          </div>
          </ng-container>
          
          <div class="popup-container" *ngIf="book" [style.top.px]="topPosition" >
            <div class="popup-content">
              <div class="d-flex">
              <h4 class="mt-3 ms-3 text-primary">Request for Book</h4>
              <i id="ic" class="bi bi-x-square-fill ms-auto mt-2" (click)="book=!book"></i>
            </div>
              <div class="d-flex ms-3 mt-2 ">
              <img src="../../../assets/{{ selectedBook?.userimage }}" alt="User Image" class="rounded-circle" height="50" id="user-image" />
              <div>
                <h6 class="text-body mb-1 ms-2 mt-2">{{ selectedBook.username }}</h6>
              </div>
            </div>
            </div>
            <div id="ddk">
            <div class="d-flex" id="sd">
              <img src="../../../assets/{{ selectedBook?.image }}" alt="Book Image" id="df" class="mt-3 ms-4"  />
              <div class="ms-4">
              <h5 class="mt-4 ms-3" id="book-name1">{{ selectedBook.bookname }}</h5>   
              <h5 class=" ms-3" id="book-name2">{{ selectedBook.author }}</h5>   
              <h5 class=" ms-3" id="book-name3">{{ selectedBook.bookcategory }}</h5>   
            </div>
            </div> 
              <div class="user-details d-flex mt-3 ms-4">
            
              
              <div class="form-group ">
                <label for="duration">Select Duration:</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="duration" [(ngModel)]="duration" id="1-week" value="1">
                  <label class="form-check-label" for="1-week">1 week</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="duration" [(ngModel)]="duration" id="2-week" value="2">
                  <label class="form-check-label" for="2-week">2 weeks</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="duration" [(ngModel)]="duration" id="3-week" value="3">
                  <label class="form-check-label" for="3-week">3 weeks</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="duration" [(ngModel)]="duration" id="4-week" value="4">
                  <label class="form-check-label" for="4-week">4 weeks</label>
                </div>
                
                <button class="btn btn-primary mb-4 mt-2 ms-3" (click)="send()">Send Request</button>
              </div>
            </div>
          </div>
        </div>
          </div>
          

        </div>
      </div>
    </div>
  </div>

