<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<app-header></app-header>
<div id="preloader" *ngIf="showPreloader"></div>

<div id="div1" class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="profile-nav col-md-3">
      <div class="panel">
        <div class="user-heading round">
          <a href="#">
            <img src="../../../assets/{{ user?.image }}" alt="" />
          </a>
          <h1 id="aad">{{ user.name }}</h1>
          <p id="aad">{{ user.email }}</p>
        </div>

        <ul class="nav nav-pills nav-stacked">
          <li id="i" class="active">
            <a href="#"><i class="fa fa-user"></i> Profile</a>
          </li>
          <li id="j">
            <a routerLink="/login/profile/edit"
              ><i class="fa fa-edit"></i> Edit profile</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="profile-info col-md-9">
      <div class="panel">
        <div class="bio-graph-heading">
          <p id="aad">
            “A reader lives a thousand lives before he dies . . . The man who
            never reads lives only one.”
          </p>
        </div>
        <div class="panel-body bio-graph-info mt-3">
          <h1 class="fw-bold">Bio Graph</h1>
          <div class="row">
            <div class="bio-row">
              <p id="ss">
                <span>First Name </span>: {{ user.name.split(" ")[0] }}
              </p>
            </div>
            <div class="bio-row">
              <p id="ss">
                <span>Last Name </span>: {{ user.name.split(" ")[1] }}
              </p>
            </div>
            <div class="bio-row">
              <p id="ss"><span>Country </span>: India</p>
            </div>
            <div class="bio-row">
              <p id="ss"><span>Location</span>: {{ user.location }}</p>
            </div>

            <div class="bio-row">
              <p id="ss"><span>Email </span>: {{ user.email }}</p>
            </div>
            <div class="bio-row">
              <p id="ss"><span>Mobile </span>: {{ user.phone }}</p>
            </div>
          </div>
        </div>
      </div>

      <h4 class="g">Interested Categories</h4>
      <div class="d-flex ms-4 mt-3" id="hn">
        <div class="card" style="width: 16rem; height: 15rem" id="hn">
          <div class="card-body">
            <h4 class="card-text text-primary">{{ user.category1 }}</h4>
          </div>
          <img
            [src]="'../../../assets/' + user?.category1 + '.jpg'"
            class="card-img-top"
            id="jn"
            alt="..."
          />
        </div>
        <div class="card" style="width: 16rem; height: 15rem" id="hn">
          <div class="card-body">
            <h4 class="card-text text-primary">{{ user.category2 }}</h4>
          </div>
          <img
            src="../../../assets/{{ user?.category2 }}.jpg"
            id="jn"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card" style="width: 16rem; height: 15rem" id="hn">
          <div class="card-body">
            <h4 class="card-text text-primary">{{ user.category3 }}</h4>
          </div>
          <img
            src="../../../assets/{{ user?.category3 }}.jpg"
            class="card-img-top"
            id="jn"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
</div>
