.like-container {
  display: flex;
  align-items: center;
}
#like:hover{
  border: 0.2px solid #f7f8f9 !important;
  border-radius: 8px !important;
  background-color: #f1f2f3 !important;
  cursor: pointer;
}
#likes:hover{
  border: 0.2px solid #f7f8f9 !important;
  border-radius: 8px !important;
  background-color: #f1f2f3 !important;
  cursor: pointer;
}
#like{
  position: relative;
  margin-left: 10px;
  width: 90px;
  height: 45px;
  background-color: none;
}
#likes{
  position: absolute;
  right: 22% !important;
  left: 2% !important;
  width: 90px;
  height: 45px;
  background-color: none;
}

#preloader {
    position: fixed;
    top:  100px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #f1f2f3;
  }
  i{
    cursor: pointer;
  }
  #sse{
    width: 60px;
  }
  .lo{
    position: absolute;
    margin-left: 5px !important;
  }
  .lok{
    position: relative;
    margin-left: 12px !important;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #37517e;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 2s linear infinite;
    transition: 1s;
  }
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  #idu {
    transition: transform 0.3s;
    color: #d1d1d1;
  }
  
  /* #idu:hover {
    transform: scale(3.8);
    color: rgb(0, 110, 255);

  } */
 
  #x{
    position: relative;
    margin-top: 2px;
  }
  #xy{
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
  }
  #xyz{
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
  }
#main{
    margin-top: 130px;
    margin-left: 320px;
}
.profile-nav, .profile-info{
    margin-top:30px;   
}
#n{
    color: rgb(0, 110, 255);
}
#nu{
  font-weight: bold;
    color:  #2A52BE;
}
#num{
  color:   #0066B2;
}
#ur{
    color: rgb(0, 110, 255);
}

.profile-nav .user-heading {
    background: #2ddcfb;
    color: #fff;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    padding: 30px;
    text-align: center;
}
.panel{
    position: relative;
    margin-top: 110px;
}

.profile-nav .user-heading.round a  {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 10px solid rgba(255,255,255,0.3);
    display: inline-block;
}
#q{
    margin-top: 15px;
    margin-left: 25px;
}
form{
    margin-left: 300px;
    width: 700px;
}
#s{
    margin-left: 300px;
}
#bg{
    position: absolute;
    margin-top: 10px;
    margin-left: 940px;
}
#wish{
    width: 800px;
    height: 480px;
    margin-left: 40px;
}
#nofo{
  width: 450px;
  height: 300px;
  position: relative;
  left: 23%;
}
.bofo{
  position: relative;
  color: #44b89d;
  margin-top: 13px;
  font-size: 32px;
  margin-left: 310px;
}