/* You can add global styles to this file, and also import other style files */
h1,h2,h3,h4,h5,image,p,span,div,label{
    caret-color: transparent;
} 
input{
    caret-color: auto;
}

.highcharts-background {
  fill: #F1F2F3 !important;

}
.highcharts-axis-line {
  fill: #00308F !important;
  color: #00308F !important ;
  stroke: black !important;
  /* fill: none;
  stroke: var(--highcharts-neutral-color-80); */
}
@media (prefers-color-scheme: dark){
:root {
    --highcharts-background-color: #f1f2f3 !important;

}}