<app-header></app-header>
<div class="container" id="aot">
  <div class="d-flex">
    <img
      class="img-fluid rounded float-left"
      src="../../../assets/signup.webp"
    />
    <div id="aot2">
      <h2>Sign up</h2>
      <form *ngIf="!show" (keydown.enter)="$event.preventDefault()">
        <input
          type="text"
          class="form-control"
          placeholder="Enter your Full name"
          required
          [(ngModel)]="name"
          name="name"
        />
        <input
          type="email"
          class="form-control"
          placeholder="Enter your email"
          required
          [(ngModel)]="email"
          name="email"
          #emailInput="ngModel"
          [email]="true"
        />
        <div
          class="text-danger"
          *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
        >
          <div *ngIf="emailInput.errors?.['required']">Email is required.</div>
          <div *ngIf="emailInput.errors?.['email']">Invalid email format.</div>
        </div>
        <input
          type="{{ showPassword ? 'text' : 'password' }}"
          class="form-control"
          placeholder="Enter your password"
          minlength="6"
          required
          [(ngModel)]="password"
          name="password"
        />
        <span
          *ngIf="password.length > 0"
          class="password-toggle"
          (click)="togglePasswordVisibility()"
        >
          <i [ngClass]="eyeIconClass" id="eye-icon"></i>
        </span>
        <input
          type="{{ showPassword2 ? 'text' : 'password' }}"
          class="form-control"
          placeholder="Confirm your password"
          minlength="6"
          required
          [(ngModel)]="cpassword"
          name="cpassword"
        />
        <span
          *ngIf="cpassword.length > 0"
          class="password-toggleb"
          (click)="togglePasswordVisibilityb()"
        >
          <i [ngClass]="eyeIconClass2" id="eye-icon"></i>
        </span>
        <button
          id="btn"
          *ngIf="!showotp"
          class="btn btn-outline-primary"
          (click)="sendOtp()"
        >
          Send OTP
        </button>
        <h5 class="mt-2 ms-4" style="color: #44b89d" *ngIf="showotp">
          Enter the OTP
        </h5>
        <div class="d-flex" *ngIf="showotp">
          <input
            type="text"
            maxlength="1"
            [(ngModel)]="otp1"
            name="otp1"
            class="form-control"
            id="otp"
            (input)="onOtpInput($event, otp2Input)"
            (keyup.enter)="focusNextInput(otp2Input)"
            (keydown.enter)="$event.preventDefault()"
            #otp1Input
          />
          <input
            type="text"
            maxlength="1"
            [(ngModel)]="otp2"
            name="otp2"
            class="form-control ms-3"
            id="otp"
            (input)="onOtpInput($event, otp3Input)"
            (keyup.enter)="focusNextInput(otp3Input)"
            (keydown.enter)="$event.preventDefault()"
            #otp2Input
          />
          <input
            type="text"
            maxlength="1"
            [(ngModel)]="otp3"
            name="otp3"
            class="form-control ms-3"
            id="otp"
            (input)="onOtpInput($event, otp4Input)"
            (keyup.enter)="focusNextInput(otp4Input)"
            (keydown.enter)="$event.preventDefault()"
            #otp3Input
          />
          <input
            type="text"
            maxlength="1"
            [(ngModel)]="otp4"
            name="otp4"
            class="form-control ms-3"
            id="otp"
            (input)="onOtpInput($event, otp5Input)"
            (keyup.enter)="focusNextInput(otp5Input)"
            (keydown.enter)="$event.preventDefault()"
            #otp4Input
          />
          <input
            type="text"
            maxlength="1"
            [(ngModel)]="otp5"
            name="otp5"
            class="form-control ms-3"
            id="otp"
            (input)="onOtpInput($event, otp6Input)"
            (keyup.enter)="focusNextInput(otp6Input)"
            (keydown.enter)="$event.preventDefault()"
            #otp5Input
          />
          <input
            type="text"
            maxlength="1"
            [(ngModel)]="otp6"
            name="otp6"
            class="form-control ms-3"
            id="otp"
            #otp6Input
          />
        </div>
        <button
          id="btnu"
          *ngIf="showotp"
          class="mt-4 btn btn-outline-success"
          (click)="confirmOtp()"
        >
          Confirm OTP
        </button>
        <button
          id="btnu"
          *ngIf="show"
          class="mt-3 btn btn-outline-success"
          (click)="next()"
        >
          Next
        </button>
      </form>
      <form *ngIf="show" #a="ngForm" (ngSubmit)="onsubmit(a)">
        <input
          type="number"
          class="form-control"
          placeholder="Enter your phone"
          required
          [(ngModel)]="phone"
          name="phone"
        />
        <input
          type="text"
          class="form-control"
          placeholder="Enter your location"
          required
          [(ngModel)]="location"
          name="location"
        />

        <select
          id="product_categorie"
          name="cat1"
          class="form-control"
          required
          [(ngModel)]="cat1"
        >
          <option [value]="'Choose your interested category1'" disabled>
            Choose your interested category 1
          </option>
          <option [value]="'Adventure'">Adventure</option>
          <option [value]="'Fiction'">Fiction</option>
          <option [value]="'Thriller'">Thriller</option>
          <option [value]="'Biography'">Biography</option>
          <option [value]="'Mystery'">Mystery</option>
          <option [value]="'Romance'">Romance</option>
        </select>
        <select
          id="product_categorie"
          name="cat2"
          class="form-control"
          required
          [(ngModel)]="cat2"
        >
          <option [value]="'Choose your interested category2'">
            Choose your interested category 2
          </option>
          <option [value]="'Adventure'">Adventure</option>
          <option [value]="'Fiction'">Fiction</option>
          <option [value]="'Thriller'">Thriller</option>
          <option [value]="'Biography'">Biography</option>
          <option [value]="'Mystery'">Mystery</option>
          <option [value]="'Romance'">Romance</option>
        </select>

        <select
          id="product_categorie"
          name="cat3"
          class="form-control"
          required
          [(ngModel)]="cat3"
        >
          <option [value]="'Choose your interested category 3'">
            Choose your interested category 3
          </option>
          <option [value]="'Adventure'">Adventure</option>
          <option [value]="'Fiction'">Fiction</option>
          <option [value]="'Thriller'">Thriller</option>
          <option [value]="'Biography'">Biography</option>
          <option [value]="'Mystery'">Mystery</option>
          <option [value]="'Romance'">Romance</option>
        </select>
        <label class="ms-5 mt-3">Choose your Profile picture</label>
        <input
          type="file"
          #imageUpload
          placeholder="Choose your Profile Picture"
          [(ngModel)]="image"
          name="image"
          (change)="onFileChange($event)"
          accept=".jpg, .jpeg, .png "
        />
        <button id="nb" class="btn" (click)="onpay()">
          Pay Rs.20 as convenience fee
        </button>
        <button class="btn btn-primary" id="btnk">Submit</button>
      </form>
    </div>
  </div>
</div>
