img{
    position: absolute;
    top: 10%;
    left: 12%;
    border-radius: 15px;
    height: 430px;
}
#otp{
  width: 53px !important;
  height: 50px !important;
  color:black;
  padding: 0px !important;
}



#aot{
    position: relative;
    margin-top: 150px;
    height: 760px;
    border-radius: 15px;
    border: 0.5px solid black;
    border-color: rgb(118, 118, 126);
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#aot2{
    position: relative;
    margin-top:  50px;
    margin-left: 685px;
}
#nb{
  margin-left: 23%;
  margin-top: 2%;
  background-color: #44b89d;
  color: white;
}

input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    width: 250px;
    position: relative;
    left: 20%;
    top: 25%;
    padding: 15px 80px;
    text-align: center;
    margin-left: 60px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 15px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=email] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    top: 10%;
    margin-top: 15px;
    margin-left: 60px;
    width: 65%;
    border: 2px solid #c9bebe;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  h2{
    color: #44b89d;
    position: relative;
    margin-left:40PX;
  }
  
  input[type=email]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=email]:placeholder {
    color: #cccccc;
  }
  input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    margin-left: 60px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    width: 65%;
    border: 2px solid #c9bebe;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder {
    color: #cccccc;
  }
  input[type=file] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px;
    margin-left: 60px;
    width: 65%;
    border: 2px solid #c9bebe;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  input[type=file]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=file]:placeholder {
    color: #cccccc;
  }
  .prof{
    margin-top: 10px;
    margin-left: 40px;
  }
select {
  width: 400px;
  position: relative;
  margin-top: 18px;
  margin-left: 60px;
  text-align: center;
  padding: 16px;
  border: 1px solid #c9bebe;
  border-radius: 10px;
  font-size: 15px;
  background-color: #f6f6f6;
  color: #333;
}

select option {
  left: 50%;
  background-color: #ffffffdc;
  color: #333;
}

select option:checked {
  background-color: #007bff;
  color: #fff;
}

  
  input[type=number] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 60px;

    font-size: 16px;
    margin-top: 8px;
    width: 65%;
    border: 2px solid #c9bebe;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  input[type=number]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=number]:placeholder {
    color: #cccccc;
  }
  #btn{
    position: absolute;
    margin-top: 150px;
    left: 34%;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    box-shadow:0px 0 0 #3361f8  inset;
  }
  #btn:hover{
    -webkit-box-shadow: 100px 0 0 #1e90ff inset;

  }
  #btnu{
    position: absolute;
    margin-top: 150px;
    left: 34%;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    box-shadow:0px 0 0 #44b89d  inset;
  }
  #btnu:hover{
    -webkit-box-shadow: 120px 0 0 #44b89d  inset;

  }

  #btnk{
    position: absolute;
    margin-top: 75px;
    color: blue;
    left: 30%;
    width: 150px;
    -webkit-transition-duration: 0.5s ;
    box-shadow: 0 0 1px #ccc ;
    background-color: white  !important;
    -webkit-transition-duration: 0.5s !important;
    -webkit-transition-timing-function: linear !important;
    box-shadow:0px 0 0 #3361f8  inset !important;
  }
  #btnk:hover{
    -webkit-box-shadow: 150px 0 0 #3361f8 inset !important;
    color: white !important;

  }
  .text-danger{
    position: relative;
    margin-top: 8px;
    margin-left: 70px;
  }
  input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin-left: 60px;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    width: 65%;
    border: 2px solid #c9bebe;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    caret-color: transparent;
  }
  
  input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=password]:placeholder {
    color: #cccccc;
  }
  .password-toggle {
    position: absolute;
    top: 70%;
    left: 66%;
    transform: translateY(-50%);
    cursor: pointer;
    color:  #01796f;
    font-size: 20px;
  }
  .password-toggleb {
    position: absolute;
    top: 91%;
    font-size: 20px;
    left: 66%;
    transform: translateY(-50%);
    cursor: pointer;
    color:  #01796f;
  }