<app-header></app-header>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<section  id="z" class="container-fluid p-4 mt-5 " *ngIf="!show" >
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
        <div class="border-bottom pb-3 mb-3">
          
        </div>
      </div>
    </div>
    <div class="row "id="row"  >
      <div id="row" class="col-xxl-8 col-12">
        <div class="card">
          <div class="card-body">
            <div class="mb-6">
              <h4 class="mb-0 fw-bold">Your Book Status</h4>
              <p class="mt-3">Check the current status of all your books</p>
            </div>
          <div >
            <div id="za" class="mb-8" *ngFor="let item of req;let i = index" >
              <!-- <h3>{{searchText$|async}}</h3> -->
              <ng-container *ngIf="(searchText$ | async) === '' || item.bookname.toLowerCase().includes((searchText$|async)) ||  item.author.toLowerCase().includes((searchText$|async))  ">
              <div id="z" class="row justify-content-between align-items-center " >
                <div class="col-lg-8 col-12 d-md-flex">
                  <!-- <div class="d-md-flex"> -->
                    <div>
                      <img  src="../../../assets/{{item.image}}" alt="" id="imgu" class="img-4by3-xl rounded">
                    </div>
                    <div class="ms-md-4  mt-lg-0">
                      <h5 id="vac" class="mb-1 mt-4">
                       Book: {{item.bookname}}
                      </h5>
                      <span id="vab" >Author:{{item.author}}<span id="vaa" >aa</span>
                      </span>
                      <div >
                        <span id="vaa">Category: {{item.category}} 
                        </span>
                    </div>
                   
                    </div>
        
                    <div class="ms-auto" id="status">
                      <span class="fw-bold " [ngStyle]="{'color': item.status === 'Available' ? 'green' : 'red'}">Status: {{ item.status }}</span>  
    
                      <span *ngIf="item.status!='Available'"  class="fw-bold " id="dsa" [ngStyle]="{'color': 'green' }">Book Given to :  {{item.receiver}}</span>  
    

                    </div>
                  <!-- </div> -->
                </div>
               
              </div>
            </ng-container>
  
              </div>
                  
              <div *ngIf="showNotFoundImage">
                <img  id="nofo" class="img-fluid" src="../../../assets/nofo.webp"/>
                <h4 class="bofo">Book Not Found</h4>
              </div>
            </div>
            </div>
          </div>
          
  
  
  
          
  
  
        </div>
      </div>
    </section>
    <div  *ngIf="show" >
      
      <img class="mt" src="../../../assets/buk.jpg"/>
      <h4 id="sxa">You have not posted any books yet..</h4>
    </div>